body {
    font-family: Arial, sans-serif;
    background-color: #655A7C;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #AB92BF;
    border-radius: 10px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"]
     {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    input[type="password"]
     {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
     }
     input[type="number"]
     {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
     }
     input[type="date"]
     {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
     }
    button[type="submit"] {
        background-color: #ccc;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      .login {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #AB92BF;
        border-radius: 10px;
      }